.at-view-fade-in {

	&.ng-enter {
		-webkit-transition-property: opacity;
		-moz-transition-property: opacity;
		-o-transition-property: opacity;
		transition-property: opacity;
		-webkit-transition-duration: 1s;
		-moz-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}
}

.at-view-fade-out {

	&.ng-leave {
		-webkit-transition-property: opacity;
		-moz-transition-property: opacity;
		-o-transition-property: opacity;
		transition-property: opacity;
		-webkit-transition-duration: 1s;
		-moz-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
		opacity: 1;
	}

	&.ng-leave-active {
		opacity: 0;
	}
}