$padding: 15px;
$padding-total: $padding * 2;

.at-view-fade-in {

	&.ng-enter {
		-webkit-transition-property: opacity;
		-moz-transition-property: opacity;
		-o-transition-property: opacity;
		transition-property: opacity;
		-webkit-transition-duration: 1s;
		-moz-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
		position: absolute;
		top: $padding;
		left: $padding;
		opacity: 0;
		width: -moz-calc(100% - #{$padding-total});
		width: -o-calc(100% - #{$padding-total});
		width: calc(100% - #{$padding-total});
	}

	&.ng-enter-active {
		opacity: 1;
	}
}

.at-view-fade-out {

	&.ng-leave {
		-webkit-transition-property: opacity;
		-moz-transition-property: opacity;
		-o-transition-property: opacity;
		transition-property: opacity;
		-webkit-transition-duration: 1s;
		-moz-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
		position: absolute;
		top: $padding;
		left: $padding;
		opacity: 1;
		width: -moz-calc(100% - #{$padding-total});
		width: -o-calc(100% - #{$padding-total});
		width: calc(100% - #{$padding-total});
	}

	&.ng-leave-active {
		opacity: 0;
	}
}