/* Sass for Rachel's portfolio */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0 15px;
	box-sizing: border-box;
	background: #F3F3F3;

	.static-header {
		max-width: 900px;
		overflow: hidden;
		box-sizing: border-box;
		margin: 20px auto;
		text-align: center;

		img {
			margin: 0 auto;
		}

		nav {
			padding: 20px 0 0;
			max-width: 400px;
			margin: 0 auto;

			a {
				display: inline-block;
				color: #666666;
				text-decoration: none;
				font-size: 14px;
				cursor: pointer;
				
				&:not(:last-of-type) {
					padding-right: 30px;
				}

				&:hover {
					color: #333333;
				}
			}
		}
	}
	
	.fixed-header {
		display: none;
		position: fixed;
		top: 0;
		background: #FFFFFF;
		margin: 0 -15px;
		width: 100%;
		border-bottom: 1px solid #CCCCCC;
		box-sizing: border-box;
		box-shadow: 0px 0px 10px 0 rgba(#000000, 0.5);
		opacity: 0.9;
		z-index: 100;
		
		.fheader__container {
			max-width: 900px;
			padding: 15px;
			margin: 0 auto;
			overflow: hidden;
			box-sizing: border-box;
		
			img {
				float: left;
				height: 30px;
				width: auto;
			}

			nav {
				padding: 5px 0;
				max-width: 400px;
				float: right;
				text-align: right;

				a {
					display: inline-block;
					color: #666666;
					text-decoration: none;
					font-size: 14px;
					cursor: pointer;

					&:not(:last-of-type) {
						padding-right: 15px;
					}

					&:hover {
						color: #333333;
					}
				}
			}
		}
	}

	.container__content {
		margin: 0 auto;
		max-width: 900px;
		background: rgba(255, 255, 255, 0.8);
		box-sizing: border-box;
		min-height: 1000px;
		overflow: hidden;
		padding: 15px;
		clear: both;

		> div {
			min-height: 500px;
			display: block;
			
			&.section1 {
				background: #ffd6cd;
			}
			
			&.section2 {
				background: #ddebfd;
			}
			
			&.section3 {
				background: #ffd6cd;
			}
			
			&.section3 {
				background: #ddebfd;
			}
			
			.gallery {
				text-align: center;
				padding: 30px;
				margin: 0 auto;
				overflow: hidden;
				
				@media (min-width: 670px) and (max-width: 944px) {
					width: 535px;
				}
				
				@media (min-width: 394px) and (max-width: 669px) {
					width: 260px;
				}
			
				.gallery__element {
					width: 244px;
					height: 244px;
					float: left;
					border-radius: 50%;
					background: white;
					overflow: hidden;
					margin-bottom: 15px;
					border: 8px solid #CCCCCC;
					position: relative;
					z-index: 5;
					
					.overlay {
						position: absolute;
						bottom: 0;
						width: 100%;
						background: rgba(#000000, 0.4);
						display: none;
						color: #FFFFFF;
						padding-bottom: 10px;
					}
					
					&:hover {
						border-color: #AAAAAA;
						
						.overlay {
							display: block;
						}
					}
					
					@media (min-width: 945px) {
						&:not(:nth-of-type(3n)) {
							margin-right: 15px;
						}
					}
					
					@media (min-width: 670px) and (max-width: 944px) {
						&:not(:nth-of-type(2n)) {
							margin-right: 15px;
						}
					}
					
					@media (max-width: 393px) {
						width: calc(100% - 16px);
						height: 200px;
					}

					&.triangle img {
						position: absolute;
						top: -14%;
						left: -18%;
					}

					&.pseudo img {
						transform: rotate(-20deg);
						position: absolute;
						top: -8%;
						left: 0%;
					}

					&.characters img {
						position: absolute;
						top: 0%;
						left: -19%;
					}
				}
			}
		}
	}
}