html {
	height: 100%;
	box-sizing: border-box;
}

.App {
	position: relative;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: $background;
	position: relative;
	min-height: 100%;
	overflow: hidden;

	$container-margin-top: $header-height + 30px;
	$container-margin-bottom: $footer-height + 30px;

	.container {
		height: 100%;
		overflow: hidden;
		height: calc(100vh - #{$container-margin-top} - #{$container-margin-bottom});
		overflow-y: scroll;
		margin-top: $container-margin-top;
		margin-bottom: $container-margin-bottom;

		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.main {
		width: 95%;
		padding: 20px 15px;
		background: rgba(255,255,255,0.6);
		box-sizing: border-box;
		overflow: hidden;


		@include breakpoint-up($md) {
			margin: 0 auto 0 auto;
			max-width: $container-width;
			padding: 0 $container-padding-x 50px;
		}

		$section-padding-top: 45px;

		> section {
			min-height: calc(100vh - #{$container-margin-top} - (#{$section-padding-top} * 2) - #{$container-margin-bottom});
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-bottom: 100px;
			padding-top: 50px;
		}
	}

	h2 {
		text-align: center;
		margin-bottom: 80px;
		margin: 15px auto 50px auto;
		border-bottom: 1px solid #EEEEEE;
		width: 70%;
		padding-bottom: 25px;
	}

	.aboutme {

		.subheading {
			margin-top: -20px;
			margin-bottom: 15px;
			color: #999999;
			font-weight: 300;
			border-bottom: #EEEEEE 1px solid;
			padding-bottom: 24px;
			width: 60%;
		}

		&__image {
			margin: 0 0 0 30px;
			float: right;
			opacity: 0.8;
			width: 130px;
			clip-path: ellipse(45% 47% at 50% 50%);

			@include breakpoint-up($sm) {
				width: 200px;
			}
		}
	}

	.experience {

		article + article {
			margin-top: 50px;
		}

		&__title {
			margin-bottom: 5px;
		}

		&__subheading {
			color: $text-color-secondary;
			margin-bottom: 10px;

			span {


				&:before {
					content: " | ";
					margin: 0 5px;
				}
			}
		}

		&__logo {
			float: right;
			margin-top: 5px;
		}

		&__intro {
			margin-bottom: 10px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 10px 25px;

			li {
				position: relative;
				margin-bottom: 2px;
				line-height: 26px;

				&:before {
					content: "·";
					font-size: 30px;
					vertical-align: middle;
					line-height: 20px;
					position: absolute;
					left: -15px;
					top: 1px;
				}
			}
		}
	}

	.contact__container {
		margin-top: 50px;
	}

	.social-media {
		margin: 0;
		padding: 0;
		margin-left: auto;
		list-style: none;

		&.contact {
			float: none;

			li:not(:last-of-type) {
				margin-right: 20px;
			}

			a {
				height: 36px;
				width: 36px;

				img {
					width: 26px;
					height: 26px;
				}
			}
		}

		li {
			float: left;

			&:not(:last-of-type) {
				margin-right: 10px;
			}

			a {
				background: $secondary;
				height: 28px;
				width: 28px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					background: $primary;
				}
			}

			img {
				height: 20px;
				width: 20px;
			}
		}
	}

	.sidenav-overlay {
		opacity: 0;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		height: 120vh;
		background-color: rgba(0,0,0,0.5);
	}
}

.sr-only {
	display: none;
}
