html {
	height: 100%;
	box-sizing: border-box;
}

.App {
	position: relative;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: $background;
	position: relative;
	min-height: 100%;
	overflow: hidden;

	$container-margin-top: $header-height + $below-header-space;
	$container-margin-top--desktop: $header-height + $below-header-space--desktop;
	$container-margin-bottom--desktop: $footer-height + $below-header-space--desktop;

	.container {
		height: 100%;
		overflow: hidden;
		overflow-y: scroll;
		height: calc(100vh - #{$container-margin-top});
		margin-top: $container-margin-top;

		@include breakpoint-up($md) {
			height: calc(100vh - #{$container-margin-top--desktop} - #{$container-margin-bottom--desktop});
			margin-top: $container-margin-top--desktop;
			margin-bottom: $container-margin-bottom--desktop;
		}

		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.main {
		width: 92%;
		padding: 0 20px;
		background: #FFFFFF;
		box-sizing: border-box;
		overflow: hidden;
		margin-left: 4%;
		margin-bottom: 180px;
		z-index: 10;

		@include breakpoint-up($md) {
			padding: 20px 15px;
			margin: 0 auto 0 auto;
			max-width: $container-width;
			padding: 0 $container-padding-x 50px;
		}

		> section {
			min-height: calc(100vh - #{$container-margin-top} - (#{$section-padding-top} * 2));
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-bottom: 50px;
			padding-top: $section-padding-top;

			@include breakpoint-up($md) {
				min-height: calc(100vh - #{$container-margin-top--desktop} - (#{$section-padding-top--desktop} * 2) - #{$container-margin-bottom--desktop});
				padding-top: $section-padding-top--desktop;
				padding-bottom: 100px;
			}
		}
	}

	h2 {
		text-align: center;
		margin: 15px auto 35px auto;
		border-bottom: 1px solid #EEEEEE;
		width: 100%;
		padding-bottom: 20px;

		@include breakpoint-up($md) {
			margin: 15px auto 50px auto;
			padding-bottom: 25px;
			width: 70%;
		}
	}

	.aboutme {

		.subheading {
			margin-bottom: 22px;
			color: $text-color-tertiary;
			font-weight: 300;
			border-bottom: #EEEEEE 1px solid;
			padding-bottom: 18px;

			@include breakpoint-up($sm) {
				margin-bottom: 15px;
				padding-bottom: 25px;
				width: 60%;
			}
		}

		&__image {
			display: none;;
			margin: 0 0 0 15px;
			float: right;
			opacity: 0.8;
			width: 120px;
			clip-path: ellipse(45% 47% at 50% 50%);

			@include breakpoint-up($sm) {
				display: block;
				margin: 0 0 0 30px;
				width: 150px;
			}

			@include breakpoint-up($md) {
				width: 200px;
			}
		}
	}

	.experience {

		article + article {
			margin-top: 30px;

			@include breakpoint-up($md) {
				margin-top: 50px;
			}
		}

		&__title {
			margin-bottom: 5px;
		}

		&__subheading {
			color: $text-color-secondary;
			margin-bottom: 10px;

			span:before {
				content: " | ";
				margin: 0 5px;
			}
		}

		&__logo {
			display: none;

			@include breakpoint-up($md) {
				display: block;
				float: right;
			}
		}

		&__intro {
			margin-bottom: 10px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 10px 25px;

			li {
				position: relative;
				margin-bottom: 2px;
				line-height: 26px;

				&:before {
					content: "·";
					font-size: 30px;
					vertical-align: middle;
					line-height: 20px;
					position: absolute;
					left: -15px;
					top: 1px;
				}
			}
		}
	}

	.contact__container {
		margin-top: 50px;
	}

	.social-media {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-left: auto;
		margin-right: 15px;

		@include breakpoint-up($md) {
			margin-right: 0;
		}

		&.contact {
			float: none;

			li:not(:last-of-type) {
				margin-right: 20px;
			}

			a {
				height: 36px;
				width: 36px;

				img {
					width: 26px;
					height: 26px;
				}
			}
		}

		li {
			float: left;

			&:not(:last-of-type) {
				margin-right: 10px;
			}

			a {
				background: $secondary;
				height: 28px;
				width: 28px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					background: $primary;
				}
			}

			img {
				height: 20px;
				width: 20px;
			}
		}
	}

	.sidenav-overlay {
		opacity: 0;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		height: 120vh;
		background-color: rgba(0,0,0,0.5);
	}
}

.sr-only {
	display: none;
}
