footer {
	background: $footer;
	border-top: #E9E9E9 1px solid;
	height: $footer-height;
	position: relative;
	z-index: 100;

	@include breakpoint-up($md) {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

.components {
	position: sticky;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	z-index: -1;

	@include breakpoint-up($lg) {
		width: $components-width;
	}
}