@import "shared";

html,
body {
	height: 100%;
}

body {
	font-family: 'Lora', serif;
	font-size: 14px;
	margin: 220px 0 0; //Space for header
	padding: 0;
	box-sizing: border-box;
	background: #FFFFFF;

	.container {
		position: relative;
		margin: 100px auto 150px;
		max-width: $container-width;
		min-height: 700px;
		padding: 0;
		clear: both;
		z-index: 5;

		h2 {
			font-family: 'Amatic SC', cursive;
			font-size: 40px;
			color: #777777;
			text-align: center;
			margin: 70px 0 50px 0;
			font-weight: normal;
		}

		p {
			line-height: 26px;
			color: #666666;
		}
	}
}
