@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great|Lora&display=swap');

html,
body {
		height: 100%;
}

body {
	font-family: 'Lora', serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #FFFFFF;

	.container {
		position: relative;
		margin: 0 auto 150px auto;
		max-width: 930px;
		min-height: 800px;
		box-sizing: border-box;
		overflow: hidden;
		padding: 0;
		clear: both;

		h2 {
			font-family: 'Amatic SC', cursive;
			font-size: 40px;
			color: #777777;
			text-align: center;
			margin: 70px 0 50px 0;
			font-weight: normal;
		}

		.section {
			min-height: 470px;
			display: block;
			margin: 50px 0 30px;
			overflow: hidden;
			padding: 0;
		}

		p {
			line-height: 26px;
			color: #666666;
		}
	}
}
