@import "shared";

footer {
	width: 100%;
	background: #ff9191;
	position: fixed;
	bottom: 0;
	z-index: 15;

	.footer__container {
		position: relative;
		width: $container-width;
		margin: 0 auto;
		padding: 10px 0 10px;
		box-sizing: border-box;
		height: $footer-height;

		p {
			float: left;
			font-style: italic;
			color: #FFFFFF;
			margin: 0;
			font-size: 12px;
			line-height: 2.5;
			font-family: 'Lora', serif;
		}

		ul {
			margin: 0;
			padding: 0;
			float: right;
			list-style: none;

			li {
				float: left;

				&:not(:last-of-type) {
					margin-right: 10px;
				}

				a {
					@include animation-grow;
					background: #FFFFFF;
					height: 28px;
					width: 28px;
					border-radius: 50%;
					line-height: 36px;
					text-align: center;
					display: block;

					&:hover {
						background: rgba(#FFFFFF, 0.8);
					}
				}

				img {
					height: 16px;
					width: 16px;
				}
			}
		}
	}
}
