@import "shared";

$header-timing: 500ms;

@mixin transitions($timing) {
	transition: all $timing ease;
}

.header {
	overflow: hidden;
	box-sizing: border-box;
	background: #F9F9F9;
	width: 100%;
	top: 0;
	z-index: 10;

	&__absolute {
		position: absolute;

		.header__container {
			@include transitions($header-timing);
			height: 160px;
		}

		.header__logo {
			@include transitions($header-timing);
			transform: translateX(-50%);
			left: 50%;
			top: 20px;

			img {
				@include transitions($header-timing);
				height: 70px;
			}
		}

		nav {
			@include transitions($header-timing);
			transform: translateX(-50%);
			right: unset;
			left: 50%;
			bottom: 20px;
			width: 70%;

			a {
				font-size: 30px;
			}
		}
	}

	&__sticky {
		position: fixed;

		.header__container {
			@include transitions($header-timing);
			height: 55px;
		}

		.header__logo {
			@include transitions($header-timing);
			transform: translate(0,0);
			left: 0;
			top: 10px;

			img {
				@include transitions($header-timing);
				height: 32px;
			}
		}

		nav {
			@include transitions($header-timing);
			transform: translateX(0%);
			right: 0%;
			left: unset;
			bottom: 10px;
			width: 60%;

			a {
				font-size: 28px;
			}
		}
	}

	&__container {
		max-width: $container-width;
		margin: 0 auto;
		position: relative;
	}

	.header__logo {
		position: absolute;
	}

	img {
		vertical-align: bottom;
		display: block;
	}

	nav {
		position: absolute;
		display: flex;
		justify-content: space-between;

		a {
			@include animation-grow;
			font-family: 'Amatic SC', sans-serif;
			display: inline-block;
			color: #888888;
			text-decoration: none;
			cursor: pointer;
			padding: 0;

			&:hover {
				color: #111111;
			}

			&.active {
				@include nav-underline(#ff9191);
			}
		}
	}
}
