@import "partials/mixins";

.header {
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
	background: #F9F9F9;
	margin-bottom: 50px;

	&__container {
		max-width: 930px;
		padding: 20px 0 5px;
		margin: 0 auto;
	}

	img {
		margin: 0 auto;
	}

	nav {
		padding: 16px 0;

		a {
			font-family: 'Amatic SC', cursive;
			display: inline-block;
			color: #888888;
			text-decoration: none;
			font-size: 38px;
			cursor: pointer;
			padding: 8px 0;
			margin: 0 20px;

			&:hover {
				color: #111111;
				border-bottom: 2px solid #CCCCCC;
				margin-bottom: -2px;
			}

			&.active {
				@include nav-underline(#ff9191);
			}
		}
	}
}
