.gallery {
  text-align: center;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden; }
  @media (min-width: 670px) and (max-width: 944px) {
    .gallery {
      width: 535px; } }
  @media (min-width: 394px) and (max-width: 669px) {
    .gallery {
      width: 260px; } }
  .gallery .gallery__element {
    width: 244px;
    height: 244px;
    float: left;
    border-radius: 50%;
    background: white;
    overflow: hidden;
    margin-bottom: 15px;
    border: 8px solid #CCCCCC;
    position: relative;
    z-index: 5; }
    .gallery .gallery__element .overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      display: none;
      color: #FFFFFF;
      padding-bottom: 10px; }
    .gallery .gallery__element:hover {
      border-color: #AAAAAA; }
      .gallery .gallery__element:hover .overlay {
        display: block; }
    @media (min-width: 945px) {
      .gallery .gallery__element:not(:nth-of-type(3n)) {
        margin-right: 15px; } }
    @media (min-width: 670px) and (max-width: 944px) {
      .gallery .gallery__element:not(:nth-of-type(2n)) {
        margin-right: 15px; } }
    @media (max-width: 393px) {
      .gallery .gallery__element {
        width: calc(100% - 16px);
        height: 200px; } }
    .gallery .gallery__element.triangle img {
      position: absolute;
      top: -14%;
      left: -18%; }
    .gallery .gallery__element.pseudo img {
      transform: rotate(-20deg);
      position: absolute;
      top: -8%;
      left: 0%; }
    .gallery .gallery__element.characters img {
      position: absolute;
      top: 0%;
      left: -19%; }

.characters .side-text {
  float: left;
  width: calc(50% - 60px); }
  .characters .side-text h3 {
    position: relative;
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin: 5px 0 40px;
    font-weight: normal;
    color: #999999; }
    .characters .side-text h3:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -7px;
      width: 100%;
      height: 2px;
      background: #CCCCCC; }
  .characters .side-text p {
    margin: 0 0 15px; }
  .characters .side-text a {
    text-decoration: none;
    color: #999999; }

.characters ul {
  width: 50%;
  margin: 0;
  padding: 0;
  float: right; }
  .characters ul li {
    width: calc((100% - 10px) / 2);
    overflow: hidden;
    float: left;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #FFFFFF; }
    .characters ul li:nth-of-type(2n+1) {
      margin-right: 10px; }
    .characters ul li .frame {
      margin: 4px;
      overflow: hidden;
      height: 130px; }
      .characters ul li .frame img {
        width: 100%;
        height: auto;
        opacity: 0.5; }
        .characters ul li .frame img:hover {
          opacity: 1; }
