a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.mask {
  width: 270px;
  height: 189px;
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  left: calc(50% + 30px + (680px / 2)); }

.tower-bridge {
  position: absolute;
  left: calc(50% - (180px / 2));
  bottom: 0;
  width: 180px;
  height: 126px; }
  .tower-bridge__tower {
    height: 80%;
    width: 16%;
    background: #E3DAD5;
    position: absolute;
    bottom: 20%; }
    .tower-bridge__tower:before {
      content: "";
      position: absolute;
      top: -28%;
      left: 6%;
      height: 28%;
      width: 88%;
      background: #E3DAD5;
      clip-path: polygon(0 100%, 50% 0, 100% 100%); }
    .tower-bridge__tower .column {
      height: 105%;
      width: 25%;
      position: absolute;
      background: #E3DAD5;
      bottom: 0;
      box-shadow: inset -3px 0 2px 0 rgba(0, 0, 0, 0.05); }
      .tower-bridge__tower .column:before {
        content: "";
        position: absolute;
        top: -15%;
        right: 0;
        height: 16%;
        width: 100%;
        background: #E3DAD5;
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
        box-shadow: inherit; }
      .tower-bridge__tower .column--left {
        left: 0; }
      .tower-bridge__tower .column--right {
        right: 0; }
    .tower-bridge__tower .section {
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #BBBBBB;
      height: 22%; }
      .tower-bridge__tower .section:nth-of-type(-n+3) {
        border-top: 1px solid #BBBBBB; }
      .tower-bridge__tower .section:nth-of-type(1) {
        bottom: calc(23% * (1 - 1) + (1 * 5%)); }
      .tower-bridge__tower .section:nth-of-type(2) {
        bottom: calc(23% * (2 - 1) + (2 * 5%)); }
      .tower-bridge__tower .section:nth-of-type(3) {
        bottom: calc(23% * (3 - 1) + (3 * 5%)); }
      .tower-bridge__tower .section:nth-of-type(4) {
        bottom: calc(23% * (4 - 1) + (4 * 5%)); }
      .tower-bridge__tower .section .window {
        position: absolute;
        bottom: 0;
        width: 10%;
        height: 50%;
        background: #BBBBBB;
        border-radius: 2px 2px 0 0; }
        .tower-bridge__tower .section .window:nth-of-type(1) {
          left: calc((1 * 18%) + 12%); }
        .tower-bridge__tower .section .window:nth-of-type(2) {
          left: calc((2 * 18%) + 12%); }
        .tower-bridge__tower .section .window:nth-of-type(3) {
          left: calc((3 * 18%) + 12%); }
    .tower-bridge__tower--left {
      left: 0; }
    .tower-bridge__tower--right {
      right: 0; }
  .tower-bridge__foot {
    width: 26%;
    height: 20%;
    background: #E3DAD5;
    border-radius: 20% 20% 0 0;
    position: absolute;
    bottom: 0;
    box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.05); }
    .tower-bridge__foot:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: #d9cdc6;
      clip-path: polygon(50% 0, 80% 30%, 96% 70%, 100% 100%, 0 100%, 4% 70%, 20% 30%);
      width: 100%;
      height: 70%;
      box-shadow: inset -30px 0 5px -5px rgba(0, 0, 0, 0.1); }
    .tower-bridge__foot--left {
      left: -5%; }
    .tower-bridge__foot--right {
      right: -5%; }
    .tower-bridge__foot--far-left {
      left: -110%; }
    .tower-bridge__foot--far-right {
      right: -110%; }
  .tower-bridge__top-ledge {
    position: absolute;
    bottom: 80%;
    left: 16%;
    height: 5%;
    width: 68%;
    background: #F6F6F6;
    box-shadow: 0 1px 1px rgba(225, 225, 225, 0.8), 0 2px 1px #79c4d5, 0 4px 1px rgba(0, 0, 0, 0.3), 0 6px 1px #e1e1e1, 0 -1px 1px rgba(225, 225, 225, 0.8), 0 -2px 1px rgba(0, 0, 0, 0.1), 0 -3px 1px #79c4d5; }
    .tower-bridge__top-ledge .emblem {
      height: 130%;
      width: 8%;
      background: #E1E1E1;
      border: 1px solid #79c4d5;
      position: absolute;
      left: 50%;
      bottom: -34%;
      transform: translate(-50%);
      z-index: 10; }
    .tower-bridge__top-ledge span {
      position: absolute;
      bottom: -1px;
      height: 130%; }
      .tower-bridge__top-ledge span:before, .tower-bridge__top-ledge span:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 3px;
        height: 100%;
        background: #E1E1E1; }
      .tower-bridge__top-ledge span:before {
        transform: rotate(50deg); }
      .tower-bridge__top-ledge span:after {
        transform: rotate(-50deg); }
      .tower-bridge__top-ledge span:nth-of-type(1) {
        left: 2.2%; }
      .tower-bridge__top-ledge span:nth-of-type(2) {
        left: 7.7%; }
      .tower-bridge__top-ledge span:nth-of-type(3) {
        left: 13.2%; }
      .tower-bridge__top-ledge span:nth-of-type(4) {
        left: 18.7%; }
      .tower-bridge__top-ledge span:nth-of-type(5) {
        left: 24.2%; }
      .tower-bridge__top-ledge span:nth-of-type(6) {
        left: 29.7%; }
      .tower-bridge__top-ledge span:nth-of-type(7) {
        left: 35.2%; }
      .tower-bridge__top-ledge span:nth-of-type(8) {
        left: 40.7%; }
      .tower-bridge__top-ledge span:nth-of-type(9) {
        left: 46.2%; }
      .tower-bridge__top-ledge span:nth-of-type(10) {
        left: 51.7%; }
      .tower-bridge__top-ledge span:nth-of-type(11) {
        left: 57.2%; }
      .tower-bridge__top-ledge span:nth-of-type(12) {
        left: 62.7%; }
      .tower-bridge__top-ledge span:nth-of-type(13) {
        left: 68.2%; }
      .tower-bridge__top-ledge span:nth-of-type(14) {
        left: 73.7%; }
      .tower-bridge__top-ledge span:nth-of-type(15) {
        left: 79.2%; }
      .tower-bridge__top-ledge span:nth-of-type(16) {
        left: 84.7%; }
      .tower-bridge__top-ledge span:nth-of-type(17) {
        left: 90.2%; }
      .tower-bridge__top-ledge span:nth-of-type(18) {
        left: 95.7%; }
      .tower-bridge__top-ledge span:nth-of-type(19) {
        left: 101.2%; }
      .tower-bridge__top-ledge span:nth-of-type(20) {
        left: 106.7%; }
  .tower-bridge__ramp {
    position: absolute;
    bottom: 18%;
    height: 6px;
    width: 34%;
    background: #5b8bbb;
    box-shadow: 0 1px 1px #999999; }
    .tower-bridge__ramp:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: 1px;
      bottom: 2px;
      border-bottom: 2px dashed #EFEFEF; }
    .tower-bridge__ramp .ramp-bottom {
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 170%;
      background: #EFEFEF;
      border-bottom: 2px solid #79c4d5;
      overflow: hidden; }
    .tower-bridge__ramp span {
      position: absolute;
      bottom: -1px;
      height: 140%; }
      .tower-bridge__ramp span:before, .tower-bridge__ramp span:after {
        position: absolute;
        bottom: -1px;
        left: 0;
        content: "";
        width: 1px;
        height: 100%;
        background: #79c4d5; }
      .tower-bridge__ramp span:nth-of-type(1) {
        left: 14.28571%; }
      .tower-bridge__ramp span:nth-of-type(2) {
        left: 28.57143%; }
      .tower-bridge__ramp span:nth-of-type(3) {
        left: 42.85714%; }
      .tower-bridge__ramp span:nth-of-type(4) {
        left: 57.14286%; }
      .tower-bridge__ramp span:nth-of-type(5) {
        left: 71.42857%; }
      .tower-bridge__ramp span:nth-of-type(6) {
        left: 85.71429%; }
      .tower-bridge__ramp span:nth-of-type(7) {
        left: 100%; }
    .tower-bridge__ramp--left {
      left: 16%; }
      .tower-bridge__ramp--left span:after {
        transform: rotate(-50deg); }
      .tower-bridge__ramp--left span:before {
        margin-left: 6px; }
      .tower-bridge__ramp--left .ramp-bottom {
        clip-path: polygon(0 0, 100% 100%, 0 100%);
        transform: rotate(-13deg); }
    .tower-bridge__ramp--right {
      right: 16%; }
      .tower-bridge__ramp--right span:after {
        transform: rotate(50deg); }
      .tower-bridge__ramp--right span:before {
        margin-left: -6px; }
      .tower-bridge__ramp--right .ramp-bottom {
        clip-path: polygon(0 100%, 100% 0, 100% 100%);
        transform: rotate(13deg); }
  .tower-bridge__road {
    position: absolute;
    bottom: 18%;
    height: 7px;
    width: 100%;
    background: #5b8bbb;
    box-shadow: 0 1px 1px #777777, 0 1px 1px #333333; }
    .tower-bridge__road:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: 1px;
      bottom: 2px;
      border-bottom: 3px dashed #EFEFEF; }
    .tower-bridge__road--left {
      left: -100%; }
    .tower-bridge__road--right {
      right: -100%; }
  .tower-bridge__curve {
    position: absolute;
    bottom: 23%;
    width: 130%;
    height: 180%;
    border: solid 2px #79c4d5;
    border-color: transparent transparent #79c4d5 transparent;
    border-radius: 0 0 50% 50%; }
    .tower-bridge__curve--left {
      left: -124%;
      transform: rotate(-18deg); }
      .tower-bridge__curve--left.top {
        left: -120%;
        transform: rotate(-21deg); }
    .tower-bridge__curve--right {
      right: -124%;
      transform: rotate(18deg); }
      .tower-bridge__curve--right.top {
        right: -120%;
        transform: rotate(21deg); }
    .tower-bridge__curve.top {
      height: 140%;
      bottom: 31%; }
  .tower-bridge__lines {
    position: absolute;
    bottom: 18%;
    width: 100%;
    height: 80%; }
    .tower-bridge__lines--left {
      left: -100%; }
      .tower-bridge__lines--left span {
        border-radius: 10px 0 0 0; }
        .tower-bridge__lines--left span:nth-of-type(1) {
          right: 6%; }
        .tower-bridge__lines--left span:nth-of-type(2) {
          right: 18%; }
        .tower-bridge__lines--left span:nth-of-type(3) {
          right: 30%; }
        .tower-bridge__lines--left span:nth-of-type(4) {
          right: 42%; }
        .tower-bridge__lines--left span:nth-of-type(5) {
          right: 54%; }
        .tower-bridge__lines--left span:nth-of-type(6) {
          right: 66%; }
    .tower-bridge__lines--right {
      right: -100%; }
      .tower-bridge__lines--right span {
        border-radius: 0 10px 0 0; }
        .tower-bridge__lines--right span:nth-of-type(1) {
          left: 6%; }
        .tower-bridge__lines--right span:nth-of-type(2) {
          left: 18%; }
        .tower-bridge__lines--right span:nth-of-type(3) {
          left: 30%; }
        .tower-bridge__lines--right span:nth-of-type(4) {
          left: 42%; }
        .tower-bridge__lines--right span:nth-of-type(5) {
          left: 54%; }
        .tower-bridge__lines--right span:nth-of-type(6) {
          left: 66%; }
    .tower-bridge__lines span {
      position: absolute;
      bottom: 0;
      width: 2%;
      background: #E1E1E1; }
      .tower-bridge__lines span:nth-of-type(1) {
        height: 58%; }
      .tower-bridge__lines span:nth-of-type(2) {
        height: 40%; }
      .tower-bridge__lines span:nth-of-type(3) {
        height: 28%; }
      .tower-bridge__lines span:nth-of-type(4) {
        height: 20%; }
      .tower-bridge__lines span:nth-of-type(5) {
        height: 15%; }
      .tower-bridge__lines span:nth-of-type(6) {
        height: 14%; }

@-webkit-keyframes lift-left {
  0%, 10%, 90%, 100% {
    transform: rotate(0deg); }
  45%, 55% {
    transform: rotate(-45deg); } }

@keyframes lift-left {
  0%, 10%, 90%, 100% {
    transform: rotate(0deg); }
  45%, 55% {
    transform: rotate(-45deg); } }

.animation-lift-left {
  transform-origin: left bottom;
  animation: lift-left linear 20s infinite; }

@-webkit-keyframes lift-right {
  0%, 10%, 90%, 100% {
    transform: rotate(0deg); }
  45%, 55% {
    transform: rotate(45deg); } }

@keyframes lift-right {
  0%, 10%, 90%, 100% {
    transform: rotate(0deg); }
  45%, 55% {
    transform: rotate(45deg); } }

.animation-lift-right {
  transform-origin: right bottom;
  animation: lift-right linear 20s infinite; }
