.tube {
  position: absolute;
  top: 40%;
  height: 20%;
  width: 110%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 4px 10px rgba(255, 255, 255, 0.1);
  border-radius: 18px; }
  .tube__container {
    animation: train 30s ease infinite;
    width: 100%;
    position: absolute;
    height: 100%; }
  .tube__train {
    background: #E1E1E1;
    height: 50%;
    width: 400px;
    position: absolute;
    top: 25%;
    left: calc(50% - 200px);
    border-radius: 10px 10px 5px 5px;
    overflow: hidden; }
    .tube__train .driver {
      position: absolute;
      top: 0;
      height: 100%;
      width: 3%;
      background: #c93837; }
      .tube__train .driver:before {
        content: "";
        background: #444444;
        position: absolute;
        height: 80%;
        width: 50%; }
      .tube__train .driver--front {
        right: 0; }
        .tube__train .driver--front:before {
          right: 0;
          border-radius: 0 0 0 5px; }
      .tube__train .driver--back {
        left: 0; }
        .tube__train .driver--back:before {
          left: 0;
          border-radius: 0 0 5px 0; }
    .tube__train .window {
      position: absolute;
      left: 3%;
      top: 20%;
      width: 94%;
      height: 40%;
      background: #444444; }
    .tube__train .door {
      width: 20px;
      height: 100%;
      background: #c93837;
      position: absolute;
      top: 0; }
      .tube__train .door:nth-of-type(1) {
        left: calc(16% * 1); }
      .tube__train .door:nth-of-type(2) {
        left: calc(16% * 2); }
      .tube__train .door:nth-of-type(3) {
        left: calc(16% * 3); }
      .tube__train .door:nth-of-type(4) {
        left: calc(16% * 4); }
      .tube__train .door:nth-of-type(5) {
        left: calc(16% * 5); }
      .tube__train .door:before {
        content: "";
        position: absolute;
        left: 50%;
        width: 1%;
        background: #555555;
        height: 100%; }
      .tube__train .door .window {
        position: absolute;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 60%;
        background: #444444; }

@-webkit-keyframes train {
  0%, 30% {
    transform: translate(-100%); }
  45%, 55% {
    transform: translate(0); }
  70%, 100% {
    transform: translate(100%); } }

@keyframes train {
  0%, 30% {
    transform: translate(-100%); }
  45%, 55% {
    transform: translate(0); }
  70%, 100% {
    transform: translate(100%); } }
