$red-color: #C73534;
$animation-timing: 20s;
$tube-width: 530px;

.tunnel {
	height: 24px;
	position: absolute;
	bottom: 2px;
	width: 100%;
	left: 0;
}

.tube {

	&__container {
		background:linear-gradient(to bottom, #EEEEEE 0, #EEEEEE 20%, #E9E9E9 25%, #E3E3E3 50%, #E9E9E9 75%, #EEEEEE 80%, #EEEEEE 100%);
		width: 100%;
		margin: 0 auto;
		position: absolute;
		height: 100%;
		overflow: hidden;
		border-radius: 20px;
		left: 0;
		top: 0;

		$tube-container: $tube-width + 30px;
		@include breakpoint-up($lg) {
			width: $tube-container;
			left: calc(50% - (#{$tube-container} / 2));
		}
	}

	&__train {
		animation: train $animation-timing ease infinite;
		background: #FFFFFF;
		width: 90%;
		left: 5%;
		height: 80%;
		position: absolute;
		bottom: 5%;
		border-radius: 10px 10px 5px 5px;
		overflow: hidden;
		box-shadow: inset 0px -5px 5px 0 rgba(0,0,0,0.3);

		@include breakpoint-up($lg) {
			width: $tube-width;
			left: calc(50% - (#{$tube-width} / 2));
		}

		.driver {
			position: absolute;
			top: 0;
			height: 100%;
			width: 3%;
			background: $red-color;

			&:before {
				content: "";
				background: #444444;
				position: absolute;
				height: 80%;
				width: 50%;
			}

			&--front {
				right: 0;

				&:before {
					right: 0;
					border-radius: 0 0 0 5px;
				}
			}

			&--back {
				left: 0;

				&:before {
					left: 0;
					border-radius: 0 0 5px 0;
				}
			}
		}

		.window {
			position: absolute;
			left: 3%;
			top: 20%;
			width: 94%;
			height: 40%;
			background: #444444;
		}

		.door-container {
			width: 80%;
			height: 100%;
			margin: 0 auto;
			position: absolute;
			left: 10%;
			display: flex;
			justify-content: space-between;
		}

		@include breakpoint-down($sm) {
			span:nth-child(n+6) {
				display: none;
			}
		}

		.door {
			$door-size: 12px;
			width: $door-size * 2;
			height: 100%;
			background: #555555;
			position: relative;

			.left,
			.right {
				background: $red-color;
				content: "";
				position: absolute;
				width: 50%;
				height: 100%;
			}

			.left {
				animation: opencloseleftdoor $animation-timing ease infinite;
				left: 0%;
			}

			.right {
				animation: opencloserightdoor $animation-timing ease infinite;
				right: 0%;
			}

			.window {
				position: absolute;
				left: 10%;
				top: 10%;
				width: 80%;
				height: 60%;
				background: #444444;
			}
		}
	}
}

@-webkit-keyframes train {
	0%, 20% {
		transform: translate(-150%);
	}
	40%, 60% {
		transform: translate(0);
	}
	80%, 100% {
		transform: translate(150%);
	}
}

@keyframes train {
	0%, 20% {
		transform: translate(-150%);
	}
	40%, 60% {
		transform: translate(0);
	}
	80%, 100% {
		transform: translate(150%);
	}
}

@-webkit-keyframes opencloseleftdoor {
	0%, 40% {
		transform: translate(0);
	}
	45%, 55% {
		transform: translate(-90%);
	}
	60%, 100% {
		transform: translate(0);
	}
}

@keyframes opencloseleftdoor {
	0%, 40% {
		transform: translate(0);
	}
	45%, 55% {
		transform: translate(-90%);
	}
	60%, 100% {
		transform: translate(0);
	}
}

@-webkit-keyframes opencloserightdoor {
	0%, 40% {
		transform: translate(0);
	}
	45%, 55% {
		transform: translate(90%);
	}
	60%, 100% {
		transform: translate(0);
	}
}

@keyframes opencloserightdoor {
	0%, 40% {
		transform: translate(0);
	}
	45%, 55% {
		transform: translate(90%);
	}
	60%, 100% {
		transform: translate(0);
	}
}