@import "../shared";

.css-characters {

	&__side-text {
		float: left;
		width: calc(50% - 60px);

		h3 {
			@include heading-underline(#CCCCCC);
			font-family: 'Amatic SC', cursive;
			font-size: 36px;
			margin: 5px 0 40px;
			font-weight: normal;
			color: #999999;
		}

		p {
			margin: 0 0 15px;
		}

		a {
			color: #999999;
		}
	}

	&__gallery {
		width: 50%;
		margin: 0;
		padding: 0;
		float: right;

		li {
			@include animation-grow;
			width: calc((100% - 10px) / 2);
			float: left;
			border: 1px solid #DDDDDD;
			box-sizing: border-box;
			list-style: none;
			margin-bottom: 10px;
			background: #FFFFFF;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

			&:nth-of-type(2n+1){
				margin-right: 10px;
			}

			.frame {
				margin: 2px;

				img {
					width: 100%;
					height: auto;
					vertical-align: bottom;
				}
			}
		}
	}
}
