$red-color: desaturate(lighten(#C73534, 1%), 1%);
	
.tube {
	position: absolute;
	top: 40%;
	height: 20%;
	width: 110%;
	background: rgba(#FFFFFF, 0.1);
	box-shadow: 0 0 4px 10px rgba(255, 255, 255, 0.1);
	border-radius: 18px;
	
	&__container {
		animation: train 30s ease infinite;
		width: 100%;
		position: absolute;
		height: 100%;
	}
	
	&__train {
		background: #E1E1E1;
		height: 50%;
		width: 400px;
		position: absolute;
		top: 25%;
		left: calc(50% - 200px);
		border-radius: 10px 10px 5px 5px;
		overflow: hidden;
		
		.driver {
			position: absolute;
			top: 0;
			height: 100%;
			width: 3%;
			background: $red-color;
			
			&:before {
				content: "";
				background: #444444;
				position: absolute;
				height: 80%;
				width: 50%;
			}
			
			&--front {
				right: 0;
				
				&:before {
					right: 0;
					border-radius: 0 0 0 5px;
				}
			}
			
			&--back {
				left: 0;
				
				&:before {
					left: 0;
					border-radius: 0 0 5px 0;
				}
			}
		}
		
		.window {
			position: absolute;
			left: 3%;
			top: 20%;
			width: 94%;
			height: 40%;
			background: #444444;
		}
		
		.door {
			width: 20px;
			height: 100%;
			background: $red-color;
			position: absolute;
			top: 0;

			$number-of-doors: 5;
			@for $i from 1 through $number-of-doors {
				$space: 80% / $number-of-doors;
				&:nth-of-type(#{$i}) {
					left: calc(#{$space} * #{$i});
				}
			}
		
			&:before {
				content: "";
				position: absolute;
				left: 50%;
				width: 1%;
				background: #555555;
				height: 100%;
			}
		
			.window {
				position: absolute;
				left: 10%;
				top: 10%;
				width: 80%;
				height: 60%;
				background: #444444;
			}
		}
	}
}

@-webkit-keyframes train {
	0%, 30% {
		transform: translate(-100%);
	}
	45%, 55% {
		transform: translate(0);
	}
	70%, 100% {
		transform: translate(100%);
	}
}

@keyframes train {
	0%, 30% {
		transform: translate(-100%);
	}
	45%, 55% {
		transform: translate(0);
	}
	70%, 100% {
		transform: translate(100%);
	}
}