a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

html,
body {
  height: 100%; }

body {
  font-family: 'Lora', serif;
  font-size: 14px;
  margin: 220px 0 0;
  padding: 0;
  box-sizing: border-box;
  background: #FFFFFF; }
  body .container {
    position: relative;
    margin: 100px auto 150px;
    max-width: 680px;
    min-height: 700px;
    padding: 0;
    clear: both;
    z-index: 5; }
    body .container h2 {
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      color: #777777;
      text-align: center;
      margin: 70px 0 50px 0;
      font-weight: normal; }
    body .container p {
      line-height: 26px;
      color: #666666; }
