footer {
  width: 100%;
  background: #ff9191;
  position: fixed;
  bottom: 0; }
  footer .footer__container {
    position: relative;
    width: 930px;
    margin: 0 auto;
    padding: 10px 0 10px;
    box-sizing: border-box;
    height: 50px; }
    footer .footer__container p {
      float: left;
      font-style: italic;
      color: #FFFFFF;
      margin: 0;
      font-size: 12px;
      line-height: 2.5;
      font-family: 'Lora', serif; }
    footer .footer__container ul {
      margin: 0;
      padding: 0;
      float: right;
      list-style: none; }
      footer .footer__container ul li {
        float: left; }
        footer .footer__container ul li:not(:last-of-type) {
          margin-right: 10px; }
        footer .footer__container ul li a {
          background: #FFFFFF;
          height: 28px;
          width: 28px;
          border-radius: 50%;
          line-height: 36px;
          text-align: center;
          display: block; }
          footer .footer__container ul li a:hover {
            background: rgba(255, 255, 255, 0.8); }
        footer .footer__container ul li img {
          height: 20px;
          width: 20px; }
