a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.header {
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  background: #F9F9F9;
  margin-bottom: 50px; }
  .header__container {
    max-width: 930px;
    padding: 20px 0 5px;
    margin: 0 auto; }
  .header img {
    margin: 0 auto; }
  .header nav {
    padding: 16px 0; }
    .header nav a {
      font-family: 'Amatic SC', cursive;
      display: inline-block;
      color: #888888;
      text-decoration: none;
      font-size: 30px;
      cursor: pointer;
      padding: 0;
      margin: 0 20px; }
      .header nav a:hover {
        color: #111111;
        border-bottom: 2px solid #CCCCCC;
        margin-bottom: -2px; }
      .header nav a.active {
        position: relative; }
        .header nav a.active:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 2px;
          background: #ff9191; }
