$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin breakpoint-up($min-breakpoint) {

  @media (min-width: #{$min-breakpoint}) {
  	@content;
  }
}

@mixin breakpoint-down($max-breakpoint) {

  @media (max-width: #{$max-breakpoint}) {
  	@content;
  }
}