$font-heading: 'Montserrat', sans-serif;
$font-subheading: 'Montserrat', sans-serif;
$font-body: 'Lato', sans-serif;

body, p , a {
    font-family: $font-body;
    font-size: 16px;
    color: $text-color-primary;
}

h1, .h1 {
    text-transform: uppercase;
    color: $primary;
    font-size: 32px;
    font-family: $font-heading;
    font-weight: 100;
    margin: 15px 0 10px -4px;

    @include breakpoint-up($sm) {
        font-size: 44px;
    }

    @include breakpoint-up($md) {
        font-size: 50px;
    }
}

h2, .h2 {
    font-family: $font-subheading;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 22px;
    color: $primary;

    @include breakpoint-up($md) {
        font-size: 30px;
    }
}

h3, .h3 {
    font-family: "Lato";
    font-size: 21px;
    color: $text-color-primary;
    font-weight: 300;
    margin-top: 0;

    @include breakpoint-up($md) {
        font-size: 23px;
    }
}

p {
    margin: 0 0 15px;
}

p, li, a {
    line-height: 26px;
    font-weight: 300;
}

.subheading {
    font-family: $font-subheading;
    font-size: 16px;
    text-transform: uppercase;
}

.small {
    font-size: 15px;
    font-family: $font-heading;
}

a {
    color: $primary;
}