$container-width: 850px;
$components-width: $container-width - 100px;
$container-padding-x: 60px;

$header-height: 60px;
$footer-height: 32px;

$below-header-space: 15px;
$below-header-space--desktop: 30px;

$section-padding-top: 20px;
$section-padding-top--desktop: 45px;